.borderDef {
  border: 5px solid black;
}

.borderHighLight {
  border: 5px solid aqua;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container11 {
  width: 900px;
  height: 100%;
  border: 5px solid black;
  padding: 20px;
}

.flex11 {
  display: flex;
  gap: 30px;
}

/* .flex12 {
  display: flex;
  padding-left: 30px;
  justify-content: space-evenly;
} */

.cvColor {
  color: #77b254;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-button {
  background-color: #777;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover {
  background-color: #777;
}

.images-container {
  display: flex;
  gap: 30px;
}
.borderDef {
  border: 2px solid #ddd; /* מסגרת אפורה דקה */
  border-radius: 15px; /* פינות מעוגלות */
  transition: all 0.3s ease-in-out; /* אנימציה חלקה */
}

.borderHighLight {
  border: 2px solid #007bff; /* מסגרת מודגשת בכחול */
  border-radius: 15px; /* לשמור על הפינות המעוגלות */
  box-shadow: 0px 4px 10px rgba(0, 123, 255, 0.2); /* אפקט קליל של צל */
  transition: all 0.3s ease-in-out;
}

.borderDef img, .borderHighLight img  {
  border-radius: 15px; /* לוודא שהתמונה גם מעוגלת */
}
