.borderDef {
  border: 5px solid black;
}

.borderHighLight {
  border: 5px solid aqua;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container11 {
  width: 900px;
  height: 100%;
  border: 5px solid black;
  padding: 20px;
}

.flex11 {
  display: flex;
  gap: 30px;
}

.flex12 {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.cvColor {
  color: #77b254;
}

.buttons-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-button {
  background-color: #777;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button:hover {
  background-color: #777;
}

.images-container {
  display: flex;
  gap: 30px;
}
