.borderDef {
  border: 5px solid black;
}

.borderHighLight {
  border: 5px solid aqua;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container11 {
  width: 900px;
  height: 100%;
  border: 5px solid black;
  padding: 20px;
}

.flex11 {
  display: flex;
  gap: 30px;
}

.flex12 {
  display: flex;
  gap: 30px;
  justify-content: space-evenly;
}

.cvColor {
  color: #77b254;
}
